@media all and (max-width: 1000px){
	.blog-post{
		margin-top: 3rem;
		flex-basis: 100% !important;
	}

	.services-list{
		grid-template-columns: 1fr 1fr;
	}

	.callback-cont>*{
		flex-basis: 100%;
	}
}