html{
	font-size: 20px;
}

body{
	background: #fff;
	color: #333;

	line-height: 1.6;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;

	margin: 0;
}

*, *:after, *:before{
	box-sizing: border-box;
}

.container{
	width: 100%;
	max-width: 1200px;

	margin: 0 auto;
}

/* Intro */
.intro{
	width: 100%;
	height: 100vh;

	background: url('../images/Sl.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/** Header **/
.header{ 
	z-index: 999;
	width: 100%;
	margin: 0;
}
.header_cont{
	display: flex;

	align-items: center;
}
.header_cont>*{
	flex-basis: 100%;
}

.logo{
	font-size: 2rem;
	font-weight: 700;
	color: #fff;

	margin-left: 40px;
}

.menu{
	text-transform: uppercase;
	font-size: 0.9rem;

	display: flex;
	justify-content: flex-end;
}
.menu-item{
	color: white;
	text-decoration: none;
	line-height: 100%;

	margin-right: 40px;

	transition: .3s all;
}

.menu-item::after{
	content: '';
	display: block;

	border-top: 3px solid #fce38a;

	width: 0;
	height: 0;

	transition: .3s all;

	position: relative;
	top: 5px;

	z-index: 1000;
}

.menu-item:hover{
	color: #fce38a;
}
.menu-item:hover::after{
	width: 100%;
}

.menu-item .fa{
	padding: 0 5px;
	text-align: center;
}

/** Text **/
.content{
	color: #fff;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-head{
	font-family: 'Kaushan Script';
	margin: 0;

	display: flex;
	justify-content: center;
}

.text-content{
	width: 100%;
	max-width: 500px;

	font-size: 3.5rem;
	font-weight: 700;

	line-height: 1;

	text-align: center;
	text-transform: uppercase;

	margin: 0;
	margin-bottom: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.text-content::after{
	content: '';

	display: block;
	width: 100px;
	height: 0;

	position: relative;
	top: 1rem;

	margin-bottom: 1rem;

	border-top: 3px solid #fff;
}

.but{
	padding: 5px 20px;
	color: #fff;
	border: 3px solid #fff;
	cursor: pointer;
	transition: .3s all;
	text-decoration: none;

	display: flex;
	justify-content: center;
}
.but:hover{
	background: rgba(255, 255, 255, .3);
}

.intro-footer{
	color: #fff;

	display: flex;

	width: 90vw;

	margin-bottom: 30px;
}
.intro-footer-item{
	flex-basis: 100%;

	border-top: 3px solid #fff;
	margin-right: 20px;
}
.intro-footer-item-numb{
	font-weight: 700;
}
.intro-footer-item-content{
	text-transform: uppercase;
}



/*About*/

.t-center{
	text-align: center;
}
.pt-5{
	padding-top: 5rem;
}
.pt-2{
	padding-top: 2rem;
}
.py-2{
	padding: 2rem 0;
}
.mt-2{
	margin-top: 2rem;
}
.m-1{
	margin: 1rem;
}
.p-1{
	padding: 1rem;
}
.bb-0{
	border-bottom: 0;
	border-top: 0;
}
.mt-3{
	margin-top: 3rem;
}
.p-2{
	padding: 2rem;
}
.px-2{
	padding: 0 2rem;
}

.about-subhead{
	font-size: 1.5rem;

	font-weight: lighter;

	width: 100%;
}

.about-header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;

	margin-bottom: 4rem;

	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-header::after{
	content: '';

	display: block;
	width: 100px;
	height: 0;
	margin: 0 auto;

	position: relative;
	top: 2rem;

	border-top: 3px solid #f38181;
}

.about-text{
	font-family: 'Roboto', sans-serif;

	font-size: .75rem;

	margin-bottom: 4.5rem;

	padding: 0 3rem;
}

.about-team-slider{
	display: flex;
	justify-content: space-around;
}

.about-team-slide{
	margin: 1rem;

	transition: .3s all;

	position: relative;
}
.about-team-slide:hover{
	transform: translate(-10px, -10px);

	box-shadow: 10px 10px 0 #95e1d3;
}

.about-team-slide-content{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: linear-gradient(90deg, #fce38a, #f38181);

	opacity: 0;

	transition: .3s all;

	display: flex;
	flex-direction: column;

	justify-content: center;

	color: #fff;

	cursor: pointer;
}
.about-team-slide-content:hover{
	opacity: .9;
}

.full{
	position: relative;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.about-stats{
	width: 100%;

	background: #95e1d3;

	color: #fff;
}

.about-stats-slider{
	display: flex;

	justify-content: space-around;
}

.about-stats-item{
	flex-basis: 100%;

	text-align: center;

	display: flex;
	flex-direction: column;
}
.about-stats-item>*{
	margin: 0;
}

.about-stats-item-head{
	font-family: 'Montserrat', sans-serif;

	font-size: 1.75rem;
}

.about-stats-item-cont{
	text-transform: uppercase;

	font-family: 'Montserrat', sans-serif;

	font-size: 1rem;
}

/*Services*/

.serv-cont{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services-list{
	width: 75%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.services-item{
	padding: 2rem 0;

	border-bottom: 1px solid silver;

	display: flex;
}

.service-icon{
	color: #95e1d3;

	font-size: 1.5rem;

	margin-right: 1.5rem;
}

.service-head{
	text-transform: uppercase;

	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: .75rem;

	margin-bottom: 5px;
}

.service-text{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 1rem;
}

/*Devices*/

.devices{
	background: url('../images/device-bg.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;

	position: relative;
}

.dev-cont{
	display: flex;
	flex-direction: column;

	justify-content: space-between;

	align-items: center;
}

.device-images-iphone{
	position: absolute;
	right: 28%;
	top: 50%;

	transform: scale(0.7);

}

/* Description services */

.desc-services-content{
	display: flex;
	justify-content: space-between;
}

#accordion{
	width: 100%;
	margin-left: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.desc-serv-slide-header{
	padding: 15px 20px;

	border: 1px solid silver;

	display: flex;
	justify-content: space-between;

	cursor: pointer;
}

.desc-serv-slide-header-icon{
	color: #95e1d3;
	font-size: 1.5rem;
}
.desc-serv-slide-header-head{
	margin: 0 10px;

	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: .75rem;
	font-weight: lighter;
	color: #000;

	line-height: 2;
}

.desc-serv-slide-content{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: grey;
	font-size: 1rem;

	border: 1px solid silver;
	border-top: 0;

	max-height: 140px;
	height: 0;
	overflow-y: scroll;
}

.toggle{
	font-size: 1.5rem;
	font-weight: 700;
	color: grey;
}

.desc-services-img{
	width: 50%;
	height: auto;
}

.recension-slider{
	width: 100%;
	margin: 0 auto;

	display: flex !important;
	justify-content: center;
}

.recension-slider-item{
	display: flex;
	align-items: center;
}
.recension-slider-item-content{
	font-size: 1rem;
	font-style: italic;
	color: #999999;

	margin-left: 2rem;
	position: relative;
}

.recension-slider-item-icon{
	color: #95e1d3;
	font-size: 4rem;
}

.recension-slider-item-content-author{
	display: flex;
	align-items: center;
	margin-top: .5rem;
	font-family: 'Kaushan', sans-serif;
	color: black;
}

.recension{
	background: #f1f1f1;
	padding: 1rem 2rem;
	width: 100%;
	box-sizing: border-box;
}

.line{
	width: 3rem;
	border-top: 3px solid #f38181;
	padding: 0;
	background: #f38181;
	margin-right: 1rem;
}

.prev-arrow, .next-arrow{
	margin: auto 2rem;

	font-size: 1.5rem;
	color: #999;

	cursor: pointer;
}

.slick-slide{
	margin-left: 10px;
}

.team-members{
	display: flex;
}

.team-member-share{
	display: flex;
	justify-content: center;
}
.team-member-share>*{
	width: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	border-right: 1px solid #f38181;
	height: 50px;
	background: #fce38a;
	opacity: 1;
	color: #f38181;
	transition: .3s;
	cursor: pointer;
}
.team-member-share>*:hover{
	opacity: 1;
	background: #f38181;
	transition: .3s;
	color: #fff;
}

.member-text-name{
	margin-top: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	font-size: .6rem;
}
.member-text-position{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: .75rem;
	color: #999999;
	font-style: italic;
}

.partners{
	background: #f8f8f8;
}
.partners-list{
	display: flex;
	justify-content: space-around;
}

.works-gallery{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0;
}
.works-gallery img{
	float: left;
	width: 100%;
	height: 100%;
}

.works-gallery-block-1{
	position: relative;

	display: inline-grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 0;

	grid-column-start: 1;
	grid-column-end: 3;
}
.works-gallery-block-2{
	position: relative;

	grid-column-start: 3;
}
.works-gallery-row{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.w-75{
	width: 75%;
}
.testimonial-img{
	border-radius: 100%;
	max-height: 150px;
}
.testimonial{
	background: #fff;
}

.people{
	background: url('../images/people.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.people-reviews{
	display: flex;
	flex-wrap: wrap;

	justify-content: space-around;
}
.people-review{
	flex-basis: 50%;
	display: flex;

	padding: 0 2rem;
	margin-bottom: 2rem;
}
.people-photo{
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
}
.people-review-content{
	margin-left: 2rem;
}
.people-review-name{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}
.people-review-position{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: .8rem;
	font-weight: lighter;
	margin-bottom: 2rem;
}
.people-review-position::after{
	content: '';
	width: 3rem;
	display: block;
	position: relative;
	top: 1rem;
	border-top: 3px solid #f38181;
}
.people-review-text{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #999;
}

.blog-posts{
	display: flex;
	justify-content: space-around;

	flex-wrap: wrap;
}

.blog-post{
	padding: 0 1rem;

	flex-basis: 33%;
}

.blog-post-photo{
	position: relative;
}

.blog-post-image{
	width: 100%;
}

.blog-post-date{
	position: absolute;
	bottom: 30px;
	left: -15px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 3.5rem;
	height: 3.5rem;
	background: #95e1d3;

	text-align: center;
	line-height: 1;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: .75rem;
}

.blog-post-date-numb{
	font-size: 1.5rem;
	font-weight: 700;
}

.blog-post-title{
	font-family: 'Montserrat', sans-serif;
	font-size: .75rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: .5rem 0;
}

.blog-post-text{
	font-family: 'Roboto', sans-serif;
	font-size: .75rem;
	color: #999;

	margin-bottom: 1rem;
}

.blog-post-stats{
	padding-top: 1rem;

	border-top: 1px solid #e5e5e5;

	color: #e5e5e5;

	display: flex;
	align-items: center;

}
.blog-post-stats .fa{
	color: #95e1d3;
}
.blog-post-stats>*{
	margin: 0 5px;
}

.map{
	background: url('../images/map-bg.png');
	background-size: cover;
}

.map-cont{
	text-align: center;
	color: #f38181;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5rem;

	padding: 3rem 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.map-text{
	margin-top: 1rem;

	width: 100%;
}
.map-text-line{
	margin-top: 1rem;

	width: 3rem;

	border-top: 3px solid #f38181;
}


.callback{
	background: #f8f8f8;

	padding: 3rem 0;
}

.callback-cont{
	display: flex;

	flex-wrap: wrap;
}
.callback-cont>*{
	flex-basis: 33%;
}

.template-name{
	color: #999;

	font-size: 1.5rem;
}

.template-text{
	color: #999;
	font-size: .75rem;
}

.template-subscribe{
	margin-top: 1rem;
	display: flex;
}

.template-subscribe-field{
	padding: .5rem;
	border: 1px solid #e7e7e7;

	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #cccccc;
}

.template-subscribe-but{
	background: #95e1d3;
	border: 0;
	padding: 0 1rem;

	font-family: 'Montserrat', sans-serif;
	font-size: .75rem;
	font-weight: 700;
	color: #fff;

	cursor: pointer;
}


footer{
	padding: 1rem;

	border-top: 1px solid #e5e5e5;

	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: .75rem;
	font-weight: 700;

	background: #f8f8f8;
}

.callback-blog{
	padding-left: 2rem;
}

.callback-blog-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: #333;
}

.callback-blog-posts{
	margin-top: 1rem;

	display: flex;
	flex-direction: column;

	justify-content: space-between;
	align-items: 
}

.callback-blog-post{
	margin-bottom: 1rem;

	flex-basis: 100%;
	display: flex;
}

.callback-blog-post img{
	width: 5rem;
	height: 5rem;

	margin-right: 1rem;
}

.callback-blog-post-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 700;

	margin-bottom: .5rem;
}

.callback-blog-post-date{
	font-family: 'Roboto';
	font-style: italic;
	color: #999999;
	font-size: 1rem;
}

.callback-instagram{
	padding-left: 2rem;
}

.callback-insta-content{
	margin-top: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.callback-insta-content-row{
	display: flex;
	justify-content: space-around;
}

.callback-insta-content img{
	flex-basis: 33%;
	width: 33%;
	height: 33%;

	margin-top: 2px;
}

/*Adaptive*/

.burger{
	width: 100px;
	height: 100px;
	background: rgba(255, 255, 255, .8);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 10px;
	right: 10px;
	display: none;
	cursor: pointer;
	z-index: 9999 !important;
}
.burger span{
	width: 75%;
	height: 3px;
	border: 1px solid black;
	display: block;
	position: absolute;
	transition: .3s;
}

.burger span::before{
	padding: 0;
	margin: 0;
	content: '';
	position: absolute;
	top: -15px;
	left: 0;
	height: 2px;
	display: block;
	width: 100%;
	border: 1px solid black;
	transition: .3s;
}

.burger span::after{
	padding: 0;
	margin: 0;
	content: '';
	height: 2px;
	position: absolute;
	top: 15px;
	left: 0;
	display: block;
	width: 100%;
	border: 1px solid black;
	transition: .3s;
}

.burger-active span::before{
	opacity: 0;
}
.burger-active span{
	transform: rotate(45deg);
}
.burger-active span::after{
	transform: rotate(-90deg);
	top: 0;
}
.burger-active+nav{
	width: auto;
}

@media all and (max-width: 1000px){
	.burger{
		display: flex;
	}
	.menu{
		width: 0;
		position: fixed;
		right: 0;
		top: 110px;
		background: rgba(0, 0, 0, .7);
		z-index: 9999;
	}
	.menu{
		font-size: 18px;
		flex-direction: column;
		text-align: center;
		margin: 0;
	}
	.menu-item{
		cursor: pointer;
		text-align: center;
		padding: 5px 50px;
		margin: 0;
		display: block;

		color: white;
	}
	.menu-item:hover{
		background: rgba(255, 255, 255, .9);
		color: black;
	}
}